
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Czmm3</title>
    <link href="~/css/Czmm.css" rel="stylesheet" />
</head>
<body>
    <div class="big_czmm_content">
        <div class="czmm_content">
            <div class="biaoti">重置密码</div>
            <div class="buzhou">
                <div class="buzhou_01 lv">验证身份</div>
                <div class="kuai kuai_01"></div>
                <div class="buzhou_01 lv">重置密码</div>
                <div class="kuai kuai_02"></div>
                <div class="buzhou_01 lv">完成</div>
            </div>
            <div class="nr">
                <div class="nr_03 clearfix">
                    <div class="queren">
                        <div class="text">新密码设置成功!</div>
                        <b><input type="button" value="确认" class="input_11" onclick="location.href='/Login/Login'"></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
