
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterInto</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/md5.js"></script>
</head>
<body>
    @using (Html.BeginForm())
    {
        <input id="Hidden1" type="hidden" value="@ViewBag.Yzm" />
        <table>
            <tr>
                <td>用户名：</td>
                <td>
                    <input id="txtName" type="text" name="U_Name" />
                </td>
            </tr>

            <tr>
                <td>密码：</td>
                <td>
                    <input id="txtPwd" type="password" name="U_Pwd" />
                </td>
            </tr>

            <tr>
                <td>验证码：</td>
                <td>
                    <input type="text" name="Yzm" id="verCode" value="" placeholder="请输入验证码" maxlength="4" />
                </td>
                <td>
                    <input type="button" name="" id="verCodeBtn" value="获取验证码" onclick="settime(this);" />
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input id="Button1" type="button" value="注册" onclick="Register()" />
                </td>
            </tr>
        </table>
    }
</body>
</html>

<script type="text/javascript">
    var s = "";

    $(function () {
        $("#verCodeBtn").click(function () {
            var PhoneNum = $("#txtName").val();
            $.ajax({
                url: "/Login/SendNET?PhoneNumber=" + PhoneNum,
                success: function (result) {
                    if (result.length > 0) {
                        alert("验证码发送成功");
                        s = result;
                    }
                    else {
                        alert("发送失败");
                    }
                }
            })
        })
    })


    var counts = 60;

    function settime(val) {
        if (counts == 0) {
            val.removeAttribute("disabled");
            val.value = "获取验证码";
            counts = 60;
            return false;
        } else {
            val.setAttribute("disabled", true);
            val.value = "重新发送（" + counts + "）";
            counts--;
        }
        setTimeout(function () {
            settime(val);
        }, 1000);
    }



    function Register() {
        if (s == $("#verCode").val()) {

            var obj = new Object();
            obj.U_Name = $("#txtName").val();
            obj.U_Pwd = hex_md5($("#txtPwd").val());
            obj.U_Impower = 1;

            $.ajax({
                url: "https://localhost:44370/api/login/PostRegister",
                data: JSON.stringify(obj),
                type: "post",
                contentType: 'application/json;',
                //contentType: "application/x-www-form-urlencoded",
                //accepts: "application/x-www-form-urlencoded",
                //contentType: "application/x-www-form-urlencoded",
                success: function (data) {
                    if (data > 0) {
                        alert("注册成功");
                    }
                    else {
                        alert("失败,请重新注册");
                        location.href = "/Login/Register";
                    }
                }

            })
        }
        else {
            alert("验证码输入有误,请核对后再次填写！");
            $("#verCode").empty();
        }
    }
</script>
