@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SeadEmail</title>
</head>
<body>
    <h1>感谢订单</h1><br />
    <h5>我们已发送一份订单通知至 @ViewBag.email</h5><br />
    <h5>以下是您的订单总览</h5>
    <h3>职位描述</h3><span>@ViewBag.job</span>
</body>
</html>