@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SeadEmail</title>
</head>
<body>
    <h1 style="margin-left:650px">感谢订单</h1><br />
    <p></p>
    <br />
    <p></p>
    <br />
    <p></p>
    <br />
    <h3  style="margin-left:550px">我们已发送一份订单通知至 @ViewBag.email</h3><br />
    <br />
    <p></p>
    <br />
    <p></p>
    <input id="Button1" style="margin-left:650px;height:35px;width:200px" class="text-danger" type="button" value="前往公司管理" />
</body>
</html>