
@{
    Layout = null;
}

<h2>关于我们</h2>
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>As vein network(Team)</title>
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/bootsnav.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/hover-min.css" rel="stylesheet" />
    <link href="~/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.1.1.js"></script>
    <script src="~/assets/js/bootsnav.js"></script>
</head>
<body>
    <section class="about-part team-part">
        <div class="container">
            <div class="about-part-details text-center">
                <h2>team</h2>
                <div class="about-part-content">
                    <div class="breadcrumbs">
                        <div class="container">
                            <ol class="breadcrumb">
                                <li><a href="index.html">home</a><span>//</span></li>
                                <li><a href="team.html">team</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="team  team-main">
        <div class="container">
            <div class="team-details">
                <div class="project-header team-header team-head text-center">
                    <h2> 我们的团队 </h2>
                    <p>
                        致力打造业界新高度!
                    </p>
                </div>
                <div class="team-card team-mrt-70">
                    <div class="container">
                        <div class="row">
                            <div class="owl-carousel  team-carousel">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="single-team-box single-team-card team-box-bg-4">
                                        <div class="team-box-inner">
                                            <h3> 周壮壮 </h3>
                                            <p class="team-meta"> 招聘信息管理主任 </p>
                                            <a href="team.html" class="learn-btn">
                                                有志者，事竟成
                                            </a>
                                        </div>
                                    </div>
                                </div><!--.col-->
                                <div class="col-sm-3 col-xs-12">
                                    <div class="single-team-box single-team-card team-box-bg-3">
                                        <div class="team-box-inner">
                                            <h3> 王新宇 </h3>
                                            <p class="team-meta">
                                                项目组长
                                            </p>
                                            <a href="team.html" class="learn-btn">
                                                苦心人，天不负
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="single-team-box single-team-card team-box-bg-2">
                                        <div class="team-box-inner">
                                            <h3> 黄斌虎 </h3>
                                            <p class="team-meta">
                                                求职者身份
                                            </p>
                                            <a href="team.html" class="learn-btn">
                                                坚持乃唯一真理
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="single-team-box single-team-card team-box-bg-1">
                                        <div class="team-box-inner">
                                            <h3> 贾晓东 </h3>
                                            <p class="team-meta">
                                                小组成员
                                            </p>
                                            <a href="team.html" class="learn-btn">
                                                拼搏是你的代名词
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="new-project">
        <div class="container">
            <div class="new-project-details">
                <div class="row">
                    <div class="col-md-10 col-sm-8">
                        <div class="single-new-project">
                            <h3>
                                让我们一起携手共进，共创美好蓝图！
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="single-new-project">
                            <a href="#" class="slide-btn">
                                Start Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

